html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(#520eac,#2a9d8f);
}
.contenedor{
    margin: 50px auto;
    width: 400px;
    padding: 40px;
    background: rgba(0,0,0, .5 );
    border-radius: 10px; 
    box-shadow: 10px 10px 10px  #a2d2ff;
}
.contenedor h1{
    margin: 0 0 30px;
    text-align: center;
    font-size: 50px;
    padding: 0;
    color: #a2d2ff;
}
.elemento label{
    color: aliceblue;
    font-size: 14px;
    font-weight:bold;

}

.elemento input{
    background: transparent;
    margin-bottom: 30px;
    padding: 10px;
    width: 70%;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    font-size: 14px;
    font-weight:bold;
}
.contenedor .elemento input[type=submit]{
    background: #a2d2ff;
    border: none;
    color: black;
    margin: 8px 50px;
    border-radius: 8px;
    letter-spacing: 3px;
    text-transform: uppercase;
    cursor: pointer;
}